<div class="container-fluid dashboard" ng-init="getApps()" style="padding:2% 5% 10% 5%; background:pink">
  <h1 style="mb-50">Admin Portal</h1>
  
  <div class="row">
    <div class="col-md-6">
      <h2>Membership/Rider applications</h2>
      <input type="text" id="searchInput" placeholder="Search">
      <a ng-click="searchTable('membership-table')">
        <span class="glyphicon glyphicon-search"></span>
      </a>
      <a ng-click="resetTable('membership-table')">
        <i class="fa fa-undo"></i>
      </a>
      <table class="table table-striped" id="membership-table">
        <thead>
          <tr>
            <th>Count</th>
            <th>Date Submited</th>
            <th>Rider Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rider in memberFormData">
            <td>{{memberFormData.length - $index}}</td>
            <td>{{rider | timestamp | date}}</td>
            <td>{{rider.riderName}}</td>
            <td>{{rider.streetAddress}}, {{rider.city}}, {{rider.state}} {{rider.zip}}</td>
            <td>{{rider.primaryPhone}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteForm('memberapp', rider._id)" data-toggle="tooltip" title="Delete Form">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-form({formObj: {{rider}}, formType: 'memberapp'})" class="btn btn-info btn-sm" data-toggle="tooltip" title="View details">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Download PDF" ng-click="base64ToPDF('memberapp', rider)">
               <span class="glyphicon glyphicon-download"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--col-md-6-->
    
    <div class="col-md-6">
      <h2>Volunteer/Driver applications</h2>
      
      <input type="text" id="searchInput" placeholder="Search">
      <a ng-click="searchTable('volunteer-table')">
        <span class="glyphicon glyphicon-search"></span>
      </a>
      <a ng-click="resetTable('volunteer-table')">
        <i class="fa fa-undo"></i>
      </a>
      <table class="table table-striped" id="volunteer-table">
        <thead>
          <tr>
            <th>Count</th>
            <th>Date Submited</th>
            <th>Rider Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="driver in volunteerFormData">
            <td>{{volunteerFormData.length - $index}}</td>
            <td>{{driver | timestamp | date}}</td>
            <td>{{driver.riderName}}</td>
            <td>{{driver.streetAddress}}, {{driver.city}}, {{driver.state}} {{driver.zip}}</td>
            <td>{{driver.homePhone}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteForm('volunteerapp', driver)" data-toggle="tooltip" title="Delete Form">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-form({formObj: {{driver}}, formType: 'volunteerapp'})" class="btn btn-info btn-sm" data-toggle="tooltip" title="View details">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Download PDF" ng-click="base64ToPDF('volunteerapp', driver)">
               <span class="glyphicon glyphicon-download"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--col-md-6-->
  </div><!--row-->
  
  
  
  <div class="row">
    <div class="col-md-6">
      <h2>Non-Rider applications</h2>
      
      <input type="text" id="searchInput" placeholder="Search">
      <a ng-click="searchTable('nonrider-table')">
        <span class="glyphicon glyphicon-search"></span>
      </a>
      <a ng-click="resetTable('nonrider-table')">
        <i class="fa fa-undo"></i>
      </a>
      <table class="table table-striped" id="nonrider-table">
        <thead>
          <tr>
            <th>Count</th>
            <th>Date Submited</th>
            <th>Rider Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="nonrider in nonRiderFormData">
            <td>{{nonRiderFormData.length - $index}}</td>
            <td>{{nonrider | timestamp | date}}</td>
            <td>{{nonrider.firstName}} {{nonrider.lastName}}</td>
            <td>{{nonrider.address1}}, {{nonrider.city}}, {{nonrider.state}} {{nonrider.zip}}</td>
            <td>{{nonrider.phone}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteForm('nonriderapp', nonrider)" data-toggle="tooltip" title="Delete Form">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-form({formObj: {{nonrider}}, formType: 'nonriderapp'})" class="btn btn-info btn-sm" data-toggle="tooltip" title="View details">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Download PDF" ng-click="base64ToPDF('nonriderapp', nonrider)">
               <span class="glyphicon glyphicon-download"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--col-md-6-->
    
    <div class="col-md-6">
      <h2>Contact forms</h2>
      
      <input type="text" id="searchInput" placeholder="Search">
      <a ng-click="searchTable('contact-table')">
        <span class="glyphicon glyphicon-search"></span>
      </a>
      <a ng-click="resetTable('contact-table')">
        <i class="fa fa-undo"></i>
      </a>
      <table class="table table-striped" id="contact-table">
        <thead>
          <tr>
            <th>Count</th>
            <th>Date Submited</th>
            <th>Rider Name</th>
            <th>Phone</th>
            <th>Subject</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="person in contactFormData">
            <td>{{contactFormData.length - $index}}</td>
            <td>{{person | timestamp | date}}</td>
            <td>{{person.name}}</td>
            <td>{{person.phone}}</td>
            <td><strong>{{person.subject}}</strong></td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteForm('contactform', person)" data-toggle="tooltip" title="Delete Form">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-form({formObj: {{person}}, formType: 'contactform'})" class="btn btn-info btn-sm" data-toggle="tooltip" title="View details">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--col-md-6-->
  </div><!--row-->
  
</div><!--container-->

<style>
  .dashboard .row .col-md-6 {padding:2%}
  .dashboard tr td {max-width:150px}
  .dashboard a {
    padding:2%;
    color:white !important;
  }
  .dashboard table a {
    padding: 5%;
  }
  .dataTables_empty {display:none}
</style>