<div class="container-fluid" ng-init="getApps()" style="padding:2% 5% 10% 5%; background:pink">
  <h1 style="mb-50">Admin Dashboard</h1>
  
  <div class="row">
    <div class="col-md-6">
      <h2>Membership/Rider applications</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date Submited</th>
            <th>Rider Name</th>
            <th>Date Submited</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="rider in memberFormData">
            <td></td>
            <td>{{rider.riderName}}</td>
            <td>{{rider.streetAddress}}, {{rider.city}}, {{rider.state}} {{rider.zip}}</td>
            <td>{{rider.primaryPhone}}</td>
            <td>{{rider.email}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteApp('membership', rider._id)">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <a ui-sref="view-member-app({formObj: {{formObj}}, formType: 'membership'})" class="btn btn-info btn-sm">
               <span class="glyphicon glyphicon-eye-open"></span>
             </a>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Download PDF" ng-click="downloadPDF('membership', rider._id)">
               <span class="glyphicon glyphicon-download"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--col-md-6-->
    
    <div class="col-md-6">
      <h2>Volunteer/Driver applications</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date Submited</th>
            <th>Rider Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="driver in volunteerFormData">
            <td>{{driver.riderName}}</td>
            <td>{{driver.streetAddress}}, {{driver.city}}, {{driver.state}} {{driver.zip}}</td>
            <td>{{driver.primaryPhone}}</td>
            <td>{{driver.email}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteApp('volunteer', driver._id)">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <button type="button" class="btn btn-info btn-sm" ng-click="viewApp('volunteer', driver._id)">
               <span class="glyphicon glyphicon-eye-open"></span>
             </button>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Download PDF" ng-click="downloadPDF('volunteer', driver._id)">
               <span class="glyphicon glyphicon-download"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--col-md-6-->
  </div><!--row-->
  
  
  
  <div class="row">
    <div class="col-md-6">
      <h2>Non-rider applications</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date Submited</th>
            <th>Rider Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="nonrider in nonRiderFormData">
            <td>{{nonrider.firstName}} {{nonrider.lastName}}</td>
            <td>{{nonrider.address1}}, {{nonrider.city}}, {{nonrider.state}} {{nonrider.zip}}</td>
            <td>{{nonrider.phone}}</td>
            <td>{{nonrider.email}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteApp('nonrider', nonrider._id)">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <button type="button" class="btn btn-info btn-sm" ng-click="viewApp('nonrider', nonrider._id)">
               <span class="glyphicon glyphicon-eye-open"></span>
             </button>
             <button type="button" class="btn btn-success btn-sm" data-toggle="tooltip" title="Download PDF" ng-click="downloadPDF('nonrider', nonrider._id)">
               <span class="glyphicon glyphicon-download"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--col-md-6-->
    
    <div class="col-md-6">
      <h2>Contact forms</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Date Submited</th>
            <th>Rider Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Message</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="person in contactFormData">
            <td>{{person.name}}</td>
            <td>{{person.phone}}</td>
            <td>{{person.email}}</td>
            <td><strong>{{person.subject}}</strong><br>
              {{person.messageBody}}</td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" ng-click="deleteApp('contact', person._id)">
               <span class="glyphicon glyphicon-trash"></span>
             </button>
             <button type="button" class="btn btn-info btn-sm" ng-click="viewApp('contact', person._id)">
               <span class="glyphicon glyphicon-eye-open"></span>
             </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div><!--col-md-6-->
  </div><!--row-->
  
</div><!--container-->


<script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
  });
</script>