<div class="member-app" >
      
    <div class="jumbotron section first-hero" id="first-hero-online-app">
      <h1>Online Membership Form</h1>
    </div><!--first-hero-->
    
    <div class="jumbotron section" style="background: #c7dfe4">
      
      <div class="container">
        <p class="ta-center"><em>Once you have completed the application we will send you a confirmation email. <br>
          You can book your first ride by calling us on (678) 696-0360.</em></p>
        <hr align="center">
        <div class="col-sm-12">
            <div class="form-area" id="formConfirmation" style="background: #c7dfe4;border:none">  
                  <form name="itnForm" novalidate ng-submit="submitFormWithPDF('membership')" role="membership form" ng-model="formData">
                    <br style="clear:both">
                    <h2 class="app-title">Application for Transportation Service</h2>
                    
                    <div class="member-tabs" ng-if="tab===1 || tab===99" id="tab1">
                      
                      <img ng-src="{{assetsPath}}/images/icons/itnlanier_white_bg.png" style="margin:auto;display:block" alt="main logo"/>
                      
                      <ol class="steps">
                        <li class="step active">
                          <a href="#tab1">Step 1</a>
                        </li>
                        <li class="step">
                          <a href="#tab2" tabindex="-1">Step 2</a>
                        </li>
                        <li class="step">
                          <a href="#tab3" tabindex="-1">Step 3</a>
                        </li>
                        <li class="step">
                          <a href="#tab4" tabindex="-1">Step 4</a>
                        </li>
                        <li class="step">
                          <a href="#tab5" tabindex="-1">Step 5</a>
                        </li>
                        <li class="step">
                          <a href="#tab6" tabindex="-1">Step 6</a>
                        </li>
                        <li class="step">
                          <a href="#tab7" tabindex="-1">Step 7</a>
                        </li>
                      </ol>
                  
                      
                        <div class="form-group ta-center" ng-class="{ 'has-error' : itnForm.membership.$invalid }">
                          <label for="Membership Type">Membership Type: *</label><br>
                          <label class="radio-inline"><input type="radio" value="individual" name="membership" ng-model="formData.membership" ng-click="familyMembership = false">Individual</label>
                          <label class="radio-inline"><input type="radio" name="membership" value="family" ng-model="formData.membership" ng-click="familyMembership = true" required>Family</label>
                          <span ng-if="itnForm.membership.$error.required && !itnForm.membership.$pristine" class="help-block">{{errorMessages.required}}</span>
                        </div>
                        
                        <div class="form-group" ng-class="{ 'has-error' : itnForm.riderName.$invalid && !itnForm.riderName.$pristine }">
                          <label for="rider name">Rider's Name: *</label><br>
                          <input type="text" class="form-control" id="riderName" name="riderName" ng-model="formData.riderName" ng-minlength="minlength" ng-maxlength="maxlength" required>
                          <span ng-if="itnForm.riderName.$error.required && !itnForm.riderName.$pristine" class="help-block">{{errorMessages.required}}</span>
                          <span ng-if="itnForm.riderName.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                          <span ng-if="itnForm.riderName.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : itnForm.street.$invalid && !itnForm.street.$pristine }">
                          <label for="street">Street Address: *</label><br>
                          <input type="text" class="form-control" id="street" name="street" ng-model="formData.streetAddress" ng-minlength="minlength" ng-maxlength="maxlength" required>
                          <span ng-if="itnForm.street.$error.required && !itnForm.street.$pristine" class="help-block">{{errorMessages.required}}</span>
                          <span ng-if="itnForm.street.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                          <span ng-if="itnForm.street.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                        </div>
                        
                        <div class="row">
                          <div class="form-group col-sm-6" ng-class="{ 'has-error' : itnForm.city.$invalid && !itnForm.city.$pristine }">
                            <label for="street">City: *</label><br>
                            <input type="text" class="form-control" id="city" name="city" ng-model="formData.city" ng-minlength="minlength" ng-maxlength="maxlength" required>
                            <span ng-if="itnForm.city.$error.required && !itnForm.city.$pristine" class="help-block">{{errorMessages.required}}</span>
                            <span ng-if="itnForm.city.$error.minlength" class="help-block">{{errorMessages.minlength}}</span>
                            <span ng-if="itnForm.city.$error.maxlength" class="help-block">{{errorMessages.maxlength}}</span>
                          </div>
                          
                          <div class="form-group col-sm-6" ng-class="{ 'has-error' : itnForm.state.$invalid && !itnForm.state.$pristine }">
                            <label for="state">State: *</label><br>
                            <select ng-model="formData.state" class="form-control" name="state" id="state">
                               <option ng-repeat="state in states" value="{{state}}">{{state}}</option>
                            </select>
                            <span ng-if="itnForm.state.$error.required && !itnForm.state.$pristine" class="help-block">{{errorMessages.required}}</span>
                          </div>
                    
                      </div><!--row-->
                        
                        <div class="row">
                          <div class="form-group col-sm-6" ng-class="{ 'has-error' : itnForm.zip.$invalid && !itnForm.zip.$pristine }">
                            <label for="zip">Zip Code: *</label><br>
                            <input type="text" class="form-control" id="zip" name="zip" ng-model="formData.zip" ng-pattern="zipPattern" required>
                            <span ng-if="itnForm.zip.$error.required && !itnForm.zip.$pristine" class="help-block">{{errorMessages.required}}</span>
                            <span ng-if="itnForm.zip.$error.pattern" class="help-block">{{errorMessages.zip}}</span>
                          </div>
                          
                          <div class="form-group col-sm-6" ng-class="{ 'has-error' : itnForm.years.$invalid && !itnForm.years.$pristine }">
                            <label for="years at address">Years at Address: *</label><br>
                            <input type="text" class="form-control" id="years" name="years" ng-model="formData.yearsAtAddress" required>
                            <span ng-if="itnForm.years.$error.required && !itnForm.years.$pristine" class="help-block">{{errorMessages.required}}</span>
                          </div>
                        </div><!--row-->

                        <div class="form-group ta-center">
                          <label for="Mailing Adress Yes or No">Is this your Mailing Address?*:  </label><br>
                          <label class="radio-inline"><input type="radio" value="yes" ng-model="formData.isMailingAddress">Yes</label>
                          <label class="radio-inline"><input type="radio" value="no" ng-model="formData.isMailingAddress" required>No</label>
                        </div>
                        
                        <div class="form-group ta-center">
                          <label for="Billing Adress Yes or No">Is this your Billing Address?*:  </label><br>
                          <label class="radio-inline"><input type="radio" value="yes" ng-model="formData.isBillingAddress">Yes</label>
                          <label class="radio-inline"><input type="radio" value="no" ng-model="formData.isBillingAddress" required>No</label>
                        </div>
                        
                        <div class="form-group ta-center">
                          <label for="Year-round Residence Yes or No">Is this your Year-round Residence?*:  </label><br>
                          <label class="radio-inline"><input type="radio" value="yes" ng-model="formData.isYearRoundResidence">Yes</label>
                          <label class="radio-inline"><input type="radio" value="no" ng-model="formData.isYearRoundResidence" required>No</label>
                        </div>

                        <div class="row">
                          <div class="form-group col-sm-6" ng-class="{ 'has-error' : itnForm.primaryPhone.$invalid && !itnForm.primaryPhone.$pristine }">
                            <label for="primary phone">Primary Phone: *</label><br>
                            <input type="text" class="form-control" id="primary-phone" name="primaryPhone" placeholder="Example: xxx-xxx-xxxx"  ng-model="formData.primaryPhone" ng-pattern="phonePattern" required>
                            <span ng-if="itnForm.primaryPhone.$error.required && !itnForm.primaryPhone.$pristine" class="help-block">{{errorMessages.required}}</span>
                            <span ng-if="itnForm.primaryPhone.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
                          </div>
                          
                          <div class="form-group col-sm-6" ng-class="{ 'has-error' : itnForm.secondaryPhone.$invalid && !itnForm.secondaryPhone.$pristine }">
                            <label for="secondary phone">Secondary Phone: </label><br>
                            <input type="text" class="form-control" id="secondary-phone" name="secondaryPhone" placeholder="Example: xxx-xxx-xxxx" ng-model="formData.secondaryPhone" ng-pattern="phonePattern">
                            <span ng-if="itnForm.secondaryPhone.$error.pattern" class="help-block">{{errorMessages.phone}}</span>
                          </div>
                        </div><!--row-->
                        
                        <div class="form-group" ng-class="{ 'has-error' : itnForm.email.$invalid && !itnForm.email.$pristine }">
                          <label for="email">Email: </label><br>
                          <input type="email" class="form-control" id="email" name="email" placeholder="Example: test@example.com" ng-model="formData.email" ng-pattern="emailPattern">
                          <span ng-if="itnForm.email.$error.pattern" class="help-block">{{errorMessages.email}}</span>
                        </div> 

invalid: {{form.$invalid}} {{itnForm.$invalid}}
input: {{itnForm.riderName.$invalid}}
                          <button type="submit" ng-hide="loading" class="btn btn-lg pull-right btn-danger" style="background:#e05944; margin-left:2%" ng-disabled="form.$invalid">Submit</button>
                          <button type="button" ng-click="nextTabMemberApp('prev')" class="next-tab btn btn-lg btn-primary pull-right itn-green-bg"  style="margin-left:2%">Previous</button>  

                        </div><!--tab 1-->
                        
                    <input type="button" ng-click="formData = {}" value="Reset Form" class="btn btn-lg btn-primary pull-left itn-green-bg"  style="margin-left:2%">

                </form>
            </div><!--form area-->
          </div><!--col sm 12-->
          
          <p ng-if="loading"><em>Loading. Please wait</em></p>
          <p style="color:red; margin-top:50px"><strong>{{serverMessage}}</strong></p>
          
        </div><!--container-->
      
    </div><!--jumbo-->
    
  
    
  </div><!--member-app-->
  
  
  <div id="pdfVersion">
    
    <h3 class="app-title">Application for Transportation Service</h3>
    
    <br><label for="Membership Type">Membership Type: *</label><br>
    {{formData.membership}}
    <br><label for="rider name">Rider's Name: *</label><br>
    {{formData.riderName}}
    <br><label for="street">Street Address: *</label><br>
    {{formData.streetAddress}}
    <br><label for="street">City: *</label><br>
    {{formData.city}}
    <br><label for="state">State: *</label><br>
    {{formData.state}}
    <br><label for="zip">Zip Code: *</label><br>
    {{formData.zip}}
    <br><label for="years at address">Years at Address: *</label><br>
    {{formData.yearsAtAddress}}
    <br><label for="Mailing Adress Yes or No">Is this your Mailing Address?*:  </label><br>
    {{formData.isMailingAddress}}
    <br><label for="Billing Adress Yes or No">Is this your Billing Address?*:  </label><br>
    {{formData.isBillingAddress}}
    <br><label for="Year-round Residence Yes or No">Is this your Year-round Residence?*:  </label><br>
    {{formData.isYearRoundResidence}}
    <br><label for="primary phone">Primary Phone: *</label><br>
    {{formData.primaryPhone}}
    <br><label for="secondary phone">Secondary Phone: </label><br>
    {{formData.secondaryPhone}}
    <br><label for="email">Email: </label><br>
    {{formData.email}}
  
  </div>
  
  <script type="x/kendo-template" id="page-template">
    <div class="page-template">
      <div class="header">
      </div>
      <div class="watermark"><img ng-src="{{assetsPath}}/images/icons/itnlanier_white_bg.png" style="margin:auto;display:block" alt="main logo"/></div>
      <div class="watermark"><img ng-src="{{assetsPath}}/images/icons/itnlanier_white_bg.png" style="margin:auto;display:block" alt="main logo"/></div>
      <div class="footer">
        Page #: pageNum # of #: totalPages #
      </div>
    </div>
  </script>

  
  <script>
  $(document).ready(function(){ 
    $('#characterLeft').text('2000 characters left');
    $('#message').keydown(function () {
        var max = 2000;
        var len = $(this).val().length;
        if (len >= max) {
            $('#characterLeft').text('You have reached the limit');
            $('#characterLeft').addClass('text-danger');
            $('#submit').addClass('disabled');            
        } 
        else {
            var ch = max - len;
            $('#characterLeft').text(ch + ' characters left');
            $('#submit').removeClass('disabled');
            $('#characterLeft').removeClass('red');            
        }
    });    
});

  </script>
  
  <style>
  /* COPYRIGHT PROGRESS UI */
  .switch-list, .list-unstyled, ul.dropdown-menu, .stat-board, .nav-tabs, .breadcrumbs, .pagination, .pagination .pages, .steps, .tabs {
  line-height: inherit;
  list-style: none;
  margin: 0;
  padding: 0; }
  
  
.panel, .modal-content, .steps, .table-panel {
  border: 1px solid transparent;
  border-radius: 4px;
  line-height: 24px;
  margin-bottom: 12px;
  padding: 24px;
  position: relative; }
  .panel.modal, .modal.modal-content, .modal.steps, .modal.table-panel {
    max-width: 60vw; }
    @media screen and (max-width: 64rem) {
      .panel.modal, .modal.modal-content, .modal.steps, .modal.table-panel {
        max-width: 94vw; } }
        
        .panel-default, .modal-content, .steps, .table-panel {
  background: #fff;
  border-color: #dee2e6;
  border-bottom-color: #ced4da; }
  .panel-default .panel-header, .modal-content .panel-header, .steps .panel-header, .table-panel .panel-header {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 12px; }
    .panel-default .panel-header.no-border, .modal-content .panel-header.no-border, .steps .panel-header.no-border, .table-panel .panel-header.no-border {
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 12px; }
    .panel-default .panel-header .panel-title-sub, .modal-content .panel-header .panel-title-sub, .steps .panel-header .panel-title-sub, .table-panel .panel-header .panel-title-sub {
      padding-top: 18px; }
      .panel-default .panel-header .panel-title-sub.no-padding, .modal-content .panel-header .panel-title-sub.no-padding, .steps .panel-header .panel-title-sub.no-padding, .table-panel .panel-header .panel-title-sub.no-padding {
        padding-top: 0; }
  
  .steps {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  counter-reset: step;
  padding: 12px; }
  @media screen and (max-width: 32rem) {
    .steps {
      overflow: auto; } }

.step {
  box-flex: 2;
  -moz-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  color: #ced4da;
  min-height: 28px;
  overflow: hidden;
  position: relative; }
  .step a {
    background: #fff;
    color: #ced4da;
    cursor: default;
    display: block;
    float: left;
    margin: 0 12px;
    outline: none;
    overflow: hidden;
    pointer-events: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap; }
    .step a::before {
      border: 2px solid #ced4da;
      border-radius: 50%;
      color: #ced4da;
      content: counter(step);
      counter-increment: step;
      display: block;
      float: left;
      font-weight: bold;
      height: 28px;
      margin-right: 12px;
      text-align: center;
      vertical-align: middle;
      width: 28px; }
    .step a:focus, .step a:hover {
      color: #ced4da; }
  .can-skip .step a,
  .step.active a, .radio-list.as-buttons .radio-unit .radio:checked + label.step a,
  .step.complete a,
  .step.previous a {
    color: #228ae6; }
    .can-skip .step a:focus,
    .can-skip .step a a:focus, .can-skip .step a:hover,
    .can-skip .step a a:hover,
    .step.active a:focus, .radio-list.as-buttons .radio-unit .radio:checked + label.step a:focus,
    .step.active a a:focus, .radio-list.as-buttons .radio-unit .radio:checked + label.step a a:focus,
    .step.active a:hover, .radio-list.as-buttons .radio-unit .radio:checked + label.step a:hover,
    .step.active a a:hover, .radio-list.as-buttons .radio-unit .radio:checked + label.step a a:hover,
    .step.complete a:focus,
    .step.complete a a:focus,
    .step.complete a:hover,
    .step.complete a a:hover,
    .step.previous a:focus,
    .step.previous a a:focus,
    .step.previous a:hover,
    .step.previous a a:hover {
      color: #1c7cd6; }
  .can-skip .step:not(.active):not(.radio-list.as-buttons .radio-unit .radio:checked + label) a,
  .step.complete:not(.active):not(.radio-list.as-buttons .radio-unit .radio:checked + label) a,
  .step.previous:not(.active):not(.radio-list.as-buttons .radio-unit .radio:checked + label) a {
    cursor: pointer;
    pointer-events: auto; }
  .step.complete a::before {
    background-color: #40c057;
    border-color: #37b24d;
    color: #fff;
    content:  "\2713 ";
    font-family: "Glyphicons Regular";
    font-weight: normal; }
  .step.active a::before, .radio-list.as-buttons .radio-unit .radio:checked + label.step a::before {
    background-color: #228ae6;
    border-color: #1c7cd6;
    color: #fff;
    content: counter(step);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: bold; }
  .step.invalid a::before {
    background-color: #fa5252;
    border-color: #f03e3e;
    color: #fff;
    content: "!";
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 900; }
  .step:last-child a {
    border-right: 0; }
  .step:last-of-type {
    box-flex: 1;
    -moz-flex: 1 auto;
    -ms-flex: 1 auto;
    flex: 1 auto;
    margin-right: 0; }
    .step:last-of-type a {
      margin-right: 0; }
  .step:not(:last-of-type)::after {
    border-top: 1px solid #ced4da;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: 100%; }
  @media screen and (max-width: 32rem) {
    .step {
      box-flex: 1;
      -moz-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%;
      content: "";
      min-width: auto;
      overflow: initial; }
      .step a {
        display: inline-block;
        margin: 0;
        padding-left: 12px;
        text-indent: -9999em; }
        .step a::before {
          float: left;
          text-indent: 0; }
      .step::after {
        left: calc(28px + (12px * 2)); }
      .step:last-of-type {
        margin-right: 0; } }
  
  </style>

